.todoList {
    width: 100%;
    height: 65%;
    padding-top: 24px;
    ul {
        width: 90%;
        height: 100%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 20px;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: $terciary-color transparent;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 8px;
      }
      
      *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: $terciary-color;
        border-radius: 20px;
        filter: blur(1px);
      }
}



 
