.todoItem {
    width: 80%;
    height: auto;
    &--container {
        &__todo{
            width: 100%;
            height: auto;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primary-color;
            color: $dark-color;
            @include border-format(16px);
            @include font-size(20px);
            @include shadowTodo;
    
            img {
                width: 40px;
                height: 40px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    filter: drop-shadow(5px 5px 2px rgba(16, 16, 16, 0.65));
                    transform: scale(1.3);
                    transition: all 0.3s ease-in-out;
                }
            }
    
            .infoIcon {
                width: 20px;
                height: 20px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    filter: drop-shadow(2px 2px 2px rgba(16, 16, 16, 0.65));
                    transform: scale(1.2);
                    transition: all 0.3s ease-in-out;
                }
            }
    
            p {
                width: 70%;
                text-align: left;
                .date {
                    opacity: .7;
                    @include font-size(14px);
                }
            }
        }

        &__deletePopUp{
            width: 100%;
            height: auto;
            font-weight: bold;
            display: flex;
            gap: 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            background-color: $primary-color;
            color: $dark-color;
            text-align: center;
            @include border-format(16px);
            @include font-size(20px);
            @include shadowTodo;
            &--confirm {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                img {
                    width: 40px;
                    height: 40px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        filter: drop-shadow(5px 5px 2px rgba(16, 16, 16, 0.65));
                        transform: scale(1.3);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

        }
    }
}

.todoItem--completed {
    .todoItem--container {
        &__todo {
            opacity: 50%;
  
        }
    }
    div {
        p.p-todo {
            text-decoration: line-through;
        }
    }
}
