.todoItem {
    width: 80%;
    height: auto;
    &--container {
        width: 100%;
        height: auto;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        color: $dark-color;
        @include border-format(16px);
        @include font-size(20px);
        @include shadowTodo;

        img {
            width: 40px;
            height: 40px;
            transition: all 0.3s ease-in-out;
            &:hover {
                filter: drop-shadow(5px 5px 2px rgba(16, 16, 16, 0.65));
                transform: scale(1.3);
                transition: all 0.3s ease-in-out;
            }
        }

        p {
            width: 70%;
            text-align: left;
        }
    }
}

.todoItem--completed {
    opacity: 50%;
    div {
        p {
            text-decoration: line-through;
        }
    }
}
